# composer
vendor/

# editors
*.swp
*.bak

# environment variables
.env.local
.env.local.php
.env.*.local

# phpunit
phpunit.xml
.phpunit.cache/

# symfony
config/reference.php
config/secrets/prod/prod.decrypt.private.php
var/
